# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Visual Studio
.vs
*.u2d
Debug
Release

# Eclipse/CDT
language.settings.xml

# Data Files
*.dat

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Gaussian/CreateSystem/CreateSystem
Gaussian/Fortran/slow/solve_system_slow
Gaussian/Fortran/solve_system
C/Voltage/Voltage
C/Voltage/Voltage-results.txt

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# macOS
.DS_Store

